/* src/Footer.css */

.footer {
    background-color: #821323;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .footer-section {
    flex: 1;
    margin: 10px;
    min-width: 220px;
  }
  
  .footer-section h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color: hsl(83, 75%, 51%);
  }
  
  .footer-section p,
  .footer-section ul {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #fff;
  }
  
  .footer-section ul {
    list-style-type: none;
  }
  
  .footer-section ul li {
    margin-bottom: 10px;
  }
  
  .footer-section a {
    color: hsl(90, 5%, 92%);
    text-decoration: none;
  }
  
  .footer-section a:hover {
    text-decoration: underline;
  }
  
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  
  .footer-logo {
    max-width: 150px;
    height: auto;
  }
  
  .social-icons {
    display: flex;
    gap: 15px;
  }
  
  .social-icons a {
    color: #b3e94f;
    font-size: 20px;
    text-decoration: none;
  }
  
  .social-icons a:hover {
    color: #95b34f;
  }
  
  /* New styles for contact section */
  .contact-info {
    display: flex;
    flex-direction: column;
  }
  
  .contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .contact-item i {
    font-size: 20px; /* Adjust the icon size */
    margin-right: 10px;
    color: hsl(64, 77%, 44%);
  }
  
  .contact-item p {
    margin: 0;
    font-size: 14px;
  }