.container12 {
  background-color: rgba(136, 44, 55, 0.5); /* Increased transparency */
  padding: 10px;
  width: 100%;
  height: 250px; /* Set a fixed height for the form */
  justify-content: center; /* Center the content horizontally */;
  background-image: url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRKKVp35FlrOhFmxfR9cNTklnr5wX9eWQdtsiXPUSC_2U1tsT0f);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply; /* This will blend the image with the background color */
}

form {
  display: flex;
  align-items: center;
  gap: 10px; /* Add a gap between elements */
  box-sizing: border-box;
}


label {
  margin-right: 0; /* Remove extra margin */
  font-weight: bold;
  
}

select,
input[type="date"],
button {
  width: 200px; /* Set a longer width */
  height: 40px; /* Set a taller height */
  padding: 10px;
  font-size: 14px;
  background-color: #fff;
  margin-top: 50px;
}

button {
  background-color:orangered;
  color: white;
  border: none;
  cursor: pointer;
  
}

button:hover {
 background-color: #ff9900;
}

.header-text {
  margin-right: auto;
  color:#fff;
  font-weight: 700;
  font-size: 25px;
  font-family: Arial, Helvetica;
  margin-top:20px;
  margin-left: 10px;

}
.text-head{
  color: #fff;
  font-family: Arial, Helvetica;
  text-transform: uppercase;
  font-size: 11.68px;
}

