.core-values-container {
  display: flex;
  gap: 20px; /* Space between the two sections */
  padding: 20px;
}

.know-more-section,
.core-values-section {
  width: 600px; /* Adjusted width for consistency */
  flex: 1;
  margin: 20px 0; /* 20px top and bottom margin */
  padding: 20px;
  background-color: #f9f9f9;
}

.core-values-section {
  width: 400px; /* Specific width for the core-values section */
}

.accordion-item {
  margin-bottom: 15px; /* Space between items */
}

.accordion-title {
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.accordion-content {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.5;
}

.toggle-icon {
  font-size: 24px;
  margin-right: 10px;
  color: #ff006a; /* Icon color */
  margin-left: 5px; /* Adjust the space between icon and text */
}

h3 {
  margin-bottom: 20px;
  font-size: 22px;
  color: red;
  text-align: start; /* Align header to the start */
}

.accordion-title .toggle-icon {
  margin-right: 10px; /* Space between the icon and the title */
}

.accordion-title {
  justify-content: flex-start; /* Align title and icon closer */
}
