.bus {
    background-image: url(https://img.freepik.com/free-photo/urban-transport-paper-style-arrangement_23-2149003860.jpg?semt=ais_hybrid);
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
}
